h2 {
    text-align: center;
}
.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* button {
    padding: 20px;
    margin: 20px;
} */

body {
    background-color: darkorange;
}

form {
    text-align: center;
}

.devourIt{
    height: 20px;
    width: 60px;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    
    background-color: #006CCE;
    
    outline: none;
}